redis
nltk==3.4.5
numpy==1.17.4
Django==2.2.22
django-allauth==0.40.0
tflearn==0.3.2
websocket==0.2.1
django-bootstrap3==11.1.0
django-channels==0.7.0
django-jet==1.0.8
django-bootstrap-form==3.4
tensorflow==1.14.0
requests==2.22.0
channels-redis==2.3.2