     h1{
     /* Цвет символа */ /* Размер шрифта */
   }
    #canvas {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: -1;
    }
   #textTitle{
     border:4px black solid;
     width:1140px;
     clear: both;
     margin-left: 390px;
     margin-bottom: 21px;
     }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 1768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

    .card-text{
    color: white; /* Цвет символа */
    font-size: 130%; /* Размер шрифта */
   }

       .card-text1{
    color: white; /* Цвет символа */
    font-size: 100%; /* Размер шрифта */
   }





