#bootstrap-overrides {
  position: relative;
  z-index: 0;
    }

    #parameters{
    margin-left:6%
    }


    #canvas {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: -1;
    }

    /* Add a gray background color and some padding to the footer */
    #grafic {
      background-color: #f2f2f2;
      padding: 0px;
    }

        .img-fluid {
    width: 70%;
    height:70%;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }


      .btn-lg {
    margin-top: 5px;

      }

        .btn {
      -webkit-transition: -webkit-transform .8s ease-in-out;
              transition:         transform .8s ease-in-out;
    }
    .btn:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }


    body::-webkit-scrollbar {
        width: 0 !important;
    }


        #textTitle{
             border:4px black solid;
             width:1140px;
             clear: both;
             margin-left: 390px;
             margin-bottom: 21px;
             }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 1768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



    .card-text{
    color: white; /* Цвет символа */
    font-size: 200%; /* Размер шрифта */
   }


